<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="text-center">Login Here!</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" class="border p-4" [formGroup]="loginform" (ngSubmit)="handleLogin()">
                <div class="mb-3">
                    <input type="text" placeholder="enter username" class="form-control" formControlName="username">
                    <div class="form-text text-danger" *ngIf="username && username.invalid && username.touched">invalid username</div>
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="enter password" class="form-control" formControlName="password">
                    <div class="form-text text-danger" *ngIf="password && password.invalid && password.touched"> invalid password</div>
                </div>
                <div class="mb-3">
                    <input type="submit" class="form-control btn btn-info" value="login" [disabled]="loginform.invalid">
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
