<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" [formGroup]="form" (ngSubmit)="authenticate()">
            <div class="mb-3">
                <input type="text" placeholder="username" class="form-control" formControlName="username">
                <div class="form-text text-danger" *ngIf="username && username.invalid && username.touched">invalid</div>
                
            </div>
            <div class="mb-3">
                <input type="email" placeholder="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="password" class="form-control" formControlName="password">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-info" [disabled]="form.invalid">
            </div>

        </form>
    </div>
    <div class="col-4"></div>
</div>